.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

.cancel{
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    background-color: #FFE9E4;
    border: 1px solid #FFE9E4;
    position: fixed;
    top: 23vh;
    left: 55%;
}

.cancel:hover,
.cancel:active{
    background-color: #fdd3c9;
    border: 1px solid #fdd3c9;
}

.form{
    position: fixed;
    background-color: #B07164;
    top: 25vh;
    left: 40%;
    max-width: 30rem;
    z-index: 100;
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form label{
    font-size: 1.2rem;
    font-weight: bold;
}

.form input{
    padding: 0.5rem;
    border: 1px solid #B07164;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.form input:active{
    outline: none;
    border: 1px solid #B07164;
}

.form select{
    font: inherit;
    font-weight: bold;
    padding: 0.5rem 2.6rem;
    border-radius: 6px;
    margin: 0.5rem;
}

.form button{
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #54433A;
    border: 1px solid #54433A;
    color: #ffe8d6;
}

.form button:hover,
.form button:active{
    background-color: #553b2c;
    border: 1px solid #553b2c;
}

@media (max-width: 768px){
    .form{
        top: 25vh;
        left: 5%;
    }
    .cancel{
        top: 23vh;
        left: 77%;
    }
}