.list{
    list-style: none;
    background-color: #93664D;
    max-width: 30rem;
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 1rem;
}

.list select{
    font: inherit;
    font-weight: bold;
    padding: 0.5rem 3rem;
    border-radius: 6px;
}

@media (max-width: 768px){
    .list{
        padding: 0.5rem 0;
       
    }
}